{
    "landingpage": "branches, commits, downloads, issues, overview, pull requests or source",
    "private": true,
    "privateforks": true,
    "mainbranch": "...",
    "deploykeys": [ { "name": "...", "key": "..." } ],
    "posthooks": [ "list", "of", "urls" ],
    "branchmanagement": {
        "preventdelete": [ "list", "of", "branchnames" ],
        "preventrebase": [ "list", "of", "branchnames" ],
        "allowpushes": {
            "branchname": {
                "groups": [ "list", "of", "groups" ],
                "users": [ "list", "of", "users" ]
            },
            "anotherbranch": "same as above"
        }
    },
    "accessmanagement": {
        "users": [ { "username": "read, write or admin" } ],
        "groups": [ { "groupname": "read, write or admin" } ]
    }
}
